<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<style>
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button, input {
  background-color: rgba(0,0,0,0);
      color: white;
      padding: 20px;
      margin:0 10px;
      box-sizing: border-box;
}
#again {
  background-color: lightblue;
}
button {
  background-color: pink;
  color:black;
}
</style>
<body style="display:flex;justify-content:center;align-items:center;">
  <form class="" style="position: absolute;">
    <input type='text' value="" placeholder="Artist?" name='artist'></input>
    <input type='text' value="" placeholder="Track" name='track'></input>
    <a id='check-song' class='primary button blue-medium show' href="">
      <button>Next Track</button>
    </a>
    <a id='submit-song' style="display:none;" class='primary button blue-medium show' href="">
      <button>Submit</button>
    </a>
    <a id='again' style="display:none;" class='primary button blue-medium show' href="/">
      <button>Do It Again</button>
    </a>
  </form>
<div id="ThreeJS"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/87/three.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.5/howler.min.js"></script>
<script src="https://stemkoski.github.io/Three.js/js/Detector.js"></script>
<script src="https://stemkoski.github.io/Three.js/js/Stats.js"></script>
<script src="https://stemkoski.github.io/Three.js/js/THREEx.WindowResize.js"></script>
<!-- <script src="https://stemkoski.github.io/Three.js/js/THREEx.FullScreen.js"></script> -->
<script src="https://stemkoski.github.io/Three.js/js/THREEx.KeyboardState.js"></script>
<script src="https://stemkoski.github.io/Three.js/js/OrbitControls.js"></script>
<script src="/js/main.js"></script>
<script>
$(document).ready(function(){
  var transmission = [];
  $('#check-song').on('click',function(event){
    event.preventDefault();
    var data = $('form').serializeArray();
    transmission.push(data);
    $('#check-song').css('display','none');
    $('#submit-song').css('display','block');
    $('form')[0].reset();
  });
  $('#submit-song').on('click',function(event){
    event.preventDefault();
    var data = $('form').serializeArray();
    transmission.push(data);
    console.log(transmission)
    $.ajax({
      async: true,
      contentType:"application/json",
      url: '/data',
      dataType: 'json',
      data: JSON.stringify(transmission),
      error: function(){
        alert("Hmm. Something didn't work. Could you try again?");
        // location.href = '/';
      },
      method: 'POST',
      success: function (response) {
        $('#submit-song').css('display','none');
        $('#again').css('display','block');
          window.open('https://open.spotify.com/user/duylam.nguyen/playlist/'+response['id']);
      }
    }); // end ajax
  });
});
</script>
<script>
var keyData = {
  q: { sound: new Howl({src:['/sounds/bubbles.mp3']}) },
  w: { sound: new Howl({src:['/sounds/bubbles-copy.mp3']}) },
  e: { sound: new Howl({src:['/sounds/clay.mp3']}) },
  r: { sound: new Howl({src:['/sounds/confetti.mp3']}) },
  t: { sound: new Howl({src:['/sounds/corona.mp3']}) },
  y: { sound: new Howl({src:['/sounds/dotted-spiral-copy.mp3']}) },
  u: { sound: new Howl({src:['/sounds/dotted-spiral.mp3']}) },
  i: { sound: new Howl({src:['/sounds/bubbles.mp3']}) },
  o: { sound: new Howl({src:['/sounds/flash-1.mp3']}) },
  p: { sound: new Howl({src:['/sounds/flash-2-copy.mp3']}) },
  a: { sound: new Howl({src:['/sounds/flash-2.mp3']}) },
  s: { sound: new Howl({src:['/sounds/glimmer-copy.mp3']}) },
  d: { sound: new Howl({src:['/sounds/glimmer.mp3']}) },
  f: { sound: new Howl({src:['/sounds/moon.mp3']}) },
  g: { sound: new Howl({src:['/sounds/pinwheel-copy.mp3']}) },
  h: { sound: new Howl({src:['/sounds/pinwheel.mp3']}) },
  j: { sound: new Howl({src:['/sounds/piston-1.mp3']}) },
  k: { sound: new Howl({src:['/sounds/piston-2.mp3']}) },
  l: { sound: new Howl({src:['/sounds/piston-3.mp3']}) },
  z: { sound: new Howl({src:['/sounds/prism-1.mp3']}) },
  x: { sound: new Howl({src:['/sounds/prism-2.mp3']}) },
  c: { sound: new Howl({src:['/sounds/prism-3.mp3']}) },
  v: { sound: new Howl({src:['/sounds/splits-copy-2.mp3']}) },
  b: { sound: new Howl({src:['/sounds/splits-copy-3.mp3']}) },
  n: { sound: new Howl({src:['/sounds/splits-copy.mp3']}) },
  m: { sound: new Howl({src:['/sounds/splits.mp3']}) },
  1: { sound: new Howl({src:['/sounds/squiggle.mp3']}) },
  2: { sound: new Howl({src:['/sounds/strike-copy-2.mp3']}) },
  3: { sound: new Howl({src:['/sounds/strike-copy.mp3']}) },
  4: { sound: new Howl({src:['/sounds/strike.mp3']}) },
  5: { sound: new Howl({src:['/sounds/suspension.mp3']}) },
  6: { sound: new Howl({src:['/sounds/timer.mp3']}) },
  7: { sound: new Howl({src:['/sounds/ufo.mp3']}) },
  8: { sound: new Howl({src:['/sounds/veil.mp3']}) },
  9: { sound: new Howl({src:['/sounds/wipe-copy.mp3']}) },
  0: { sound: new Howl({src:['/sounds/wipe.mp3']}) },
  " ": { sound: new Howl({src:['/sounds/zig-zag.mp3']}) }
}
document.body.onkeydown = function(event){
  console.log(event);
  if(keyData[event.key]){
  keyData[event.key].sound.play();
  }
}

/*
	Three.js "tutorials by example"
	Author: Lee Stemkoski
	Date: July 2013 (three.js v59dev)
*/

// MAIN

// standard global variables
var container, scene, camera, renderer, controls, stats;
var keyboard = new THREEx.KeyboardState();
var clock = new THREE.Clock();
// custom global variables
var cube;

init();
animate();

// FUNCTIONS
function init()
{
	// SCENE
	scene = new THREE.Scene();
	// CAMERA
	var SCREEN_WIDTH = window.innerWidth, SCREEN_HEIGHT = window.innerHeight;
	var VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
	camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
	scene.add(camera);
	camera.position.set(0,150,400);
	camera.lookAt(scene.position);
	// RENDERER
	if ( Detector.webgl )
		renderer = new THREE.WebGLRenderer( {antialias:true} );
	else
		renderer = new THREE.CanvasRenderer();
	renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
	container = document.getElementById( 'ThreeJS' );
	container.appendChild( renderer.domElement );
	// EVENTS
	THREEx.WindowResize(renderer, camera);
	// THREEx.FullScreen.bindKey({ charCode : 'm'.charCodeAt(0) });
	// CONTROLS
	controls = new THREE.OrbitControls( camera, renderer.domElement );
	// STATS
	stats = new Stats();
	stats.domElement.style.position = 'absolute';
	stats.domElement.style.bottom = '0px';
	stats.domElement.style.zIndex = 100;
	container.appendChild( stats.domElement );
	// LIGHT
	var light = new THREE.PointLight(0xffffff);
	light.position.set(0,250,0);
	scene.add(light);
	// FLOOR
	var floorTexture = new THREE.ImageUtils.loadTexture( 'images/checkerboard.jpg' );
	floorTexture.wrapS = floorTexture.wrapT = THREE.RepeatWrapping;
	floorTexture.repeat.set( 10, 10 );
	var floorMaterial = new THREE.MeshBasicMaterial( { map: floorTexture, side: THREE.DoubleSide } );
	var floorGeometry = new THREE.PlaneGeometry(1000, 1000, 10, 10);
	var floor = new THREE.Mesh(floorGeometry, floorMaterial);
	floor.position.y = -0.5;
	floor.rotation.x = Math.PI / 2;
	// scene.add(floor);
	// SKYBOX/FOG
	var skyBoxGeometry = new THREE.CubeGeometry( 10000, 10000, 10000 );
	var skyBoxMaterial = new THREE.MeshBasicMaterial( { color: 0x9999ff, side: THREE.BackSide } );
	var skyBox = new THREE.Mesh( skyBoxGeometry, skyBoxMaterial );
	// scene.add(skyBox);
	scene.fog = new THREE.FogExp2( 0x9999ff, 0.00025 );

	////////////
	// CUSTOM //
	////////////

	// Using wireframe materials to illustrate shape details.
	var darkMaterial = new THREE.MeshBasicMaterial( { color: 0xffffcc } );
	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: 0x000000, wireframe: true, transparent: true } );
	var multiMaterial = [ darkMaterial, wireframeMaterial ];

	///////////
	// ROW 1 //
	///////////











	///////////
	// ROW 2 //
	///////////






	///////////
	// ROW 3 //
	///////////

	// cylinder




	///////////
	// ROW 4 //
	///////////








}
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}

function animate()
{
  requestAnimationFrame( animate );
	render();
	update();
}


function update()
{

	if ( keyboard.pressed("q") )
	{
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
    var shape = THREE.SceneUtils.createMultiMaterialObject(
      // total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
      //  p-loops around torus, q-loops around torus

      new THREE.TorusKnotGeometry( 30/2, 6/2, 160/2, 10/2, 3/2, 7/2 ),
      multiMaterial );
    shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
    scene.add( shape );
	}

  if ( keyboard.pressed("w") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.TorusGeometry( 30, 20, 16, 40 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500) );
  	scene.add( shape );
  }

    if ( keyboard.pressed("e") )
    {
      var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
    	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
    	var multiMaterial = [ darkMaterial, wireframeMaterial ];
      // torus
    	var shape = THREE.SceneUtils.createMultiMaterialObject(
    	    // radius of entire torus, diameter of tube (less than total radius),
    		// segments around radius, segments around torus ("sides")
    		new THREE.TorusGeometry( 25, 10, 8, 4 ),
    		multiMaterial );
    	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
    	scene.add( shape );
    }


  if ( keyboard.pressed("r") )
  {
    console.log("W");
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.TorusGeometry( 30/2, 20/2, 16/2, 40/2 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500) );
  	scene.add( shape );
  }

  if ( keyboard.pressed("t") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
    var shape = THREE.SceneUtils.createMultiMaterialObject(
      // total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
      //  p-loops around torus, q-loops around torus

      new THREE.TorusKnotGeometry( 30*2, 6*2, 160*2, 10*2, 3*2, 7*2 ),
      multiMaterial );
    shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
    scene.add( shape );
  }

  if ( keyboard.pressed("y") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		// total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
  		//  p-loops around torus, q-loops around torus
  		new THREE.TorusKnotGeometry( 30, 8, 60, 10, 2, 3 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("u") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  	    // radius of entire torus, diameter of tube (less than total radius),
  		// segments around radius, segments around torus ("sides")
  		new THREE.TorusGeometry( 25, 10, 8, 4 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("i") )
  {
    console.log("W");
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.TorusGeometry( 30*1.5, 20*.5, 16*2.5, 40*.5 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500) );
  	scene.add( shape );
  }

  if ( keyboard.pressed("o") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // cone
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		// radiusAtTop, radiusAtBottom, height, segmentsAroundRadius, segmentsAlongHeight,
  		new THREE.CylinderGeometry( 0, 30, 100, 20, 4 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("p") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		// total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
  		//  p-loops around torus, q-loops around torus
  		new THREE.TorusKnotGeometry( 30/2, 8/2, 60/2, 10/2, 2/2, 3/2 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("a") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // dome
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.SphereGeometry( 40, 32, 16, 0, 2 * Math.PI, 0, Math.PI / 2 ),
  		multiMaterial );
  	// should set material to doubleSided = true so that the
  	//   interior view does not appear transparent.
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("s") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // tetrahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.TetrahedronGeometry( 40, 1 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );

  }

  if ( keyboard.pressed("d") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // octahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.OctahedronGeometry( 40, 1 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("f") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // icosahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.IcosahedronGeometry( 40, 1 ), // radius, subdivisions
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );

  }

  if ( keyboard.pressed("g") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
    var shape = THREE.SceneUtils.createMultiMaterialObject(
      // total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
      //  p-loops around torus, q-loops around torus

      new THREE.TorusKnotGeometry( 30/2, 6/2, 160/2, 10/2, 3/2, 7/2 ),
      multiMaterial );
    shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
    scene.add( shape );
  }

  if ( keyboard.pressed("j") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // sphere
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.SphereGeometry( 40, 32, 16 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("h") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // sphere
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.SphereGeometry( 40, 32, 16 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("k") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // sphere
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.SphereGeometry( 40, 32, 16 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("l") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // tetrahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.TetrahedronGeometry( 40, 0 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("z") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // octahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.OctahedronGeometry( 40, 0 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("x") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // icosahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.IcosahedronGeometry( 40, 0 ), // radius, subdivisions
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("c") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // cube
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.CubeGeometry(50, 50, 50, 1, 1, 1),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("v") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // icosahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.IcosahedronGeometry( 40, 0 ), // radius, subdivisions
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("b") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
    var shape = THREE.SceneUtils.createMultiMaterialObject(
      // total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
      //  p-loops around torus, q-loops around torus

      new THREE.TorusKnotGeometry( 30, 6, 160, 10, 3, 7 ),
      multiMaterial );
    shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
    scene.add( shape );
  }

  if ( keyboard.pressed("n") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // octahedron
  	var shape = THREE.SceneUtils.createMultiMaterialObject(
  		new THREE.OctahedronGeometry( 40, 0 ),
  		multiMaterial );
  	shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
  	scene.add( shape );
  }

  if ( keyboard.pressed("m") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
    var shape = THREE.SceneUtils.createMultiMaterialObject(
      // total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
      //  p-loops around torus, q-loops around torus

      new THREE.TorusKnotGeometry( 30, 6, 160, 10, 3, 7 ),
      multiMaterial );
    shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
    scene.add( shape );
  }

  if (keyboard.pressed(" ") )
  {
    var darkMaterial = new THREE.MeshBasicMaterial( { color: Math.random() * 0xffffff } );
  	var wireframeMaterial = new THREE.MeshBasicMaterial( { color: "white" * 0xffffff, wireframe: true, transparent: true } );
  	var multiMaterial = [ darkMaterial, wireframeMaterial ];
    // torus knot
    var shape = THREE.SceneUtils.createMultiMaterialObject(
      // total knot radius, tube radius, number cylinder segments, sides per cyl. segment,
      //  p-loops around torus, q-loops around torus

      new THREE.TorusKnotGeometry( 30, 6, 160, 10, 3, 7 ),
      multiMaterial );
    shape.position.set(getRandomInt(-500,500),getRandomInt(-500,500),getRandomInt(-500,500));
    scene.add( shape );
  }

	controls.update();
	stats.update();
}

function render()
{
	renderer.render( scene, camera );
}
</script>
</body>
</html>
